.flip-scene {
  perspective: 1000px;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;

  padding: 20px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 8px;

  background: linear-gradient(90deg, #141414 0%, #1f1f1f 100%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.flip-card-back {
  transform: rotateY(180deg);

  background: linear-gradient(90deg, #1f1f1f 0%, #141414 100%);
  color: white;
  font-family: "Roboto Mono", monospace;
}
