/* src/App.css */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  /* 1. Настраиваем цвета градиента (можешь менять hex-коды) */
  background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e, #000000);

  /* 2. Растягиваем фон, чтобы было куда двигаться */
  background-size: 400% 400%;

  /* 3. Запускаем анимацию на 15 секунд, бесконечно */
  animation: gradientBG 15s ease infinite;

  /* 4. Важно: фон на весь экран */
  min-height: 100vh;
  color: white; /* Чтобы текст по умолчанию был белым */
}

/* Сама анимация движения */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 1) База (серый фон скелетона) */
.ant-skeleton .ant-skeleton-content .ant-skeleton-title,
.ant-skeleton .ant-skeleton-content .ant-skeleton-paragraph > li,
.ant-skeleton .ant-skeleton-avatar {
  background-color: #1f1f1f !important;
}

/* 2) Анимация (самый важный момент — ::after) */
.ant-skeleton.ant-skeleton-active
  .ant-skeleton-content
  .ant-skeleton-title::after,
.ant-skeleton.ant-skeleton-active
  .ant-skeleton-content
  .ant-skeleton-paragraph
  > li::after,
.ant-skeleton.ant-skeleton-active .ant-skeleton-avatar::after {
  background: linear-gradient(
    90deg,
    #1f1f1f 25%,
    #2a2a2a 37%,
    #1f1f1f 63%
  ) !important;
}

/* Темная таблица */
.ant-table {
  background: transparent !important;
  color: #fff !important;
}
.ant-table-thead > tr > th {
  background: #1a1a1a !important;
  color: #888 !important;
  border-bottom: 1px solid #333 !important;
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #222 !important;
  color: #fff !important;
}
.ant-table-tbody > tr:hover > td {
  background: #1f1f1f !important;
}
